<div>
  <h2>Update your listings</h2>

  <%= form_for @listing do |form| %>
  <%= render partial: '/listings/form', object: form %>

  <div class="submit-field">
    <%= form.submit %>
  </div>
  <% end %>
</div>